/*global*/
*{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

body{height: 100vh;
    display: grid;
    align-items: center;
    background: #121212;
}

.countdown{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 300px));
    gap: 10px;
    padding: 10px;
    justify-content: center
}

.countdown li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    padding: 1rem;
    color:#09e;
    background: #1e1e1e;
    border-radius:5px ;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    text-align: center;

}
span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5rem;
    font-style: normal;    
}